.tab-content {
    display: none;
    padding: 15px 0;
}
.tab-content.tab-content-active {
    display: block;
}

.nav-tab:focus, .nav-tab:hover {
    box-shadow: none;
}

.da-settings .form-control {
    height: 34px !important;
    padding: 6px 8px !important;
    width: 330px;
}
.bfh-selectbox .bfh-selectbox-toggle {
    padding: 6px 22px 6px 12px !important;
}