:root {
    --main-color: #D32D27;
    --text-color: #282828;
    --background-color: #F9FBFD;
    --border-color: #E8E8E8;
    --customization-color: #727272;

    /**
     * Strength Colors
    */
    --orange: #F19B2B;
    --yellow: #D8D145;
    --light-green: #98CB6F;
    --green: #5FD889;

    /**
     * Shadow for Password Field
    */
    --pass-shadow: 0 18px 15px 0 rgba(0, 0, 0, .22);
    --tooltip-shadow: 0 4px 5px 0 rgba(0, 0, 0, .22);
    --thumb-shadow: var(--tooltip-shadow);

    /**
     * Border Width for;
     * Radio and Checkbox, Input[type=number], Customizatin Section,
    */
    --border-width: 2px;

    /**
     * Border Radius for;
     * Wrappers, Checkboxes, Input[type=number], button 
    */
    --border-radius: 10px;
    --border-radius-checkbox: 5px;

    /**
     * Font Sizes
     */
    --top-header: 35px; /* GENERATE A SECURE PASSWORD */
    --middle-header: 25px; /* Use our online password generator ... */
    --password-field: 30px; /* SWdbDn4N0Y */
    --others: 16px;

    /**
     * Breakpoints
     * Just for information
    */
    --lg: 1024px;
    --md: 768px;
    --sm: 576px;
    --xs: 435px;
    --xxs: 375px;
}

/**
 * Presets
 */

.generator-container *,
.generator-container *::before,
.generator-container *::after {
    box-sizing: border-box !important;
    max-width: unset !important;
}

.generator-container, .generator-container h6, .generator-container label {
    font-family: "Source Sans Pro", sans-serif !important;
    letter-spacing: normal !important;
}
.generator-container {
    line-height: 16px !important;
    margin: 0 !important;
    padding: 0 !important;
}
.generator-container input {
    line-height: 16px !important;
    padding: 0 !important;
    border: none !important;
    border: none !important;
}

/**
 * STYLES
 */

/* Low Header */
h6.low-header {
    font-weight: 600 !important;
    text-align: center !important;
    font-size: var(--others) !important;
    color: var(--customization-color) !important;

    margin: 0 0 20px 0 !important;
    line-height: 20px;
    font-style: normal !important;
}
h6.low-header.toggle {
    cursor: pointer;
}
h6.low-header.toggle::after{
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900 !important;
}

/**
 * Generator Styles
*/
.generator-container {
    display: flex;
    justify-content: center;

    /* width: fit-content; */
    width: 100% !important;
    max-width: 665px !important;
    margin: 100px auto 40px !important;

}
@media screen and (max-width: 1024px) {
    .generator-container {
        flex-direction: column;
    }
}

/* Generator Tools */
.generator__tools {
    width: 100%;
    /* max-width: 665px; */
}
/* @media screen and (max-width: 576px) {
    .generator__tools {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
} */

/* Generated Password Field */
.da-password-field {
    display: flex;
    position: relative;

    align-items: center;
    line-height: 14px;

    width: 100%;
    height: 90px;
    border-radius: var(--border-radius);
    box-shadow: var(--pass-shadow);
    
    background-color: #fff;
}
/* @media screen and (max-width: 435px) {
    .da-password-field {
        height: 55px;
    }
} */
.da-password-field img {
    all: unset !important;
    height: 30px !important;
}

/* Password Styles for text-meter */
input.da-password {
    font-family: Arial !important;
    font-size: var(--password-field) !important;
    width: 100% !important;
    text-indent: 27px !important;
    color: var(--text-color) !important;

    /* Presets for input */
    border: none !important;
    background-color: transparent !important;
    padding: 1px 0 !important;
}
/* @media screen and (max-width: 435px) {
    :root {
        --password-field: 25px;
    }
} */

input.da-password:focus {
    outline: none !important;
}

input.da-password.da-str-strong, input.da-password.da-str-very-strong {
    color: var(--green) !important;
}
input.da-password.da-str-fair {
    color: var(--light-green) !important;
}
input.da-password.da-str-weak {
    color: var(--yellow) !important;
}
input.da-password.da-str-very-weak {
    color: var(--orange) !important;
}


/* Copy and Regenerate spans */
span.pass-copy {
    margin-right: 12px;
    cursor: pointer;
}

span.pass-regen {
    margin-right: 20px;
    cursor: pointer;
}

/**
 * Customization Styles
*/
.customization {
    width: 100%;

    border: var(--border-width) solid var(--border-color) !important;
    border-radius: var(--border-radius) !important;
    background-color: #fff !important;

    margin-top: 40px !important;
    padding: 15px 25px 20px !important;
}

/**
 * Customization Styles when Collapsed
*/

.customization.collapsed {
    padding: 15px !important;
    border-style: dashed !important;
}

/* Hide Options */
.customization.collapsed .da-options {
    display: none;
}

/* Centerized header */
.customization.collapsed h6.low-header {
    margin: 0 !important;
}

/* Rotate Arrow */
.customization:not(.collapsed) h6.low-header.toggle::after {
    transform: rotate(180deg);
}

/* Option for Customization */
.da-option {
    display: flex;
    align-items: center;
}
/* @media screen and (max-width: 768px) {
    .da-option {
        flex-direction: column;
    }
} */

.da-option:last-child {
    line-height: 20px;
}
.da-option:not(:last-child) {
    margin-bottom: 30px;
}

.option__title {
    color: var(--customization-color);
    font-size: var(--others);
    margin-right: 18px;
    white-space: nowrap;
}
/* @media screen and (max-width: 768px) {
    .option__title {
        margin: 0 0 15px 0;
    }
} */

.option__field {
    display: flex;
    align-items: center;
}
/* @media screen and (max-width: 576px) {
    .option__field {
        flex-wrap: wrap;
        justify-content: center;
    }
} */

.option__field__item {
    display: flex;
    align-items: center;
}
/* @media screen and (max-width: 576px) {
    .option__field__item {
        margin-bottom: 10px;
    }
} */
/* Media Queries for characters options */
/* @media screen and (max-width: 576px) {
    .option__field.da-allow-characters .option__field__item {
        width: 175px;
        margin-right: 0;
    }

    .option__field.da-allow-characters .option__field__item:nth-child(odd) {
        /* justify-content: flex-end; /
        padding-left: 60px;
    }
} */
@media screen and (max-width: 435px) {
    .option__field.da-allow-characters .option__field__item {
        width: 115px;
    }
}
/* Media Queries for Password types' options */
@media screen and (max-width: 435px) {
    .option__field.da-pass-types {
        width: 170px;
        justify-content: flex-start;
        margin: 0 auto;
    }
}

.option__field__item:not(:last-child) {
    margin-right: 24px;
}

/* Disable Spin button in input[type=number] */
.da-option input[type=number]::-webkit-inner-spin-button,
.da-option input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**
 * Input Number STYLES
*/
.da-option input[type=number] {
    width: 70px !important;
    height: 40px !important;
    padding: 10px !important;
    text-align: center !important;
    color: var(--text-color) !important;

    background-color: var(--border-color) !important;
    border: none !important;
    border-radius: var(--border-radius) !important;
    font: 400 13.3333px Arial !important;
}

.da-option input[type=number]:focus {
    outline: none !important;
}

/**
 * Input Range STYLES
*/
.da-option .pass-length {
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    height: 5px;
    background-color: var(--border-color);
    outline: none;

    border-radius: var(--border-radius);
}

.da-option .pass-length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: var(--thumb-shadow);
}

.da-option .pass-length::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: var(--thumb-shadow);
}

/**
 * Input Checkbox STYLES
*/
.checkbox-container {
    display: block !important;
    position: relative !important;
    padding-left: 30px !important;
    cursor: pointer !important;
    font-size: var(--others) !important;
    color: var(--text-color) !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
  
/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
    height: 0 !important;
    width: 0 !important;
}
  
/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    height: 22px !important;
    width: 22px !important;

    background-color: #fff !important;
    border: var(--border-width) solid var(--border-color) !important;
    border-radius: var(--border-radius-checkbox) !important;
}
  
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    border-color: var(--customization-color) !important;
}
  
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    border-color: var(--main-color) !important;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
}
  
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block !important;
}
  
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**
 * Switch Input STYLES
*/

/* Switch Label */
.switch-label {
    font-size: var(--others);
    color: var(--text-color);
    margin-right: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin-right: 7px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switch .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.switch input:checked + .slider::before {
    background-color: #d32d27;
}
  
.switch input:checked + .slider::before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* Switch Information Tooltip */
.switch-info__description {
    display: none;
    position: absolute;
    width: 200px;
    font-size: 16px;
    line-height: normal;
    z-index: 1040;

    cursor: pointer;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--tooltip-shadow);

    padding: 10px;
}
.switch-info:hover .switch-info__description {
    display: block;
}

/**
 * Button Styles
*/

button.da-copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: #fff;
    background-color: var(--main-color);
    font-size: var(--others);
    font-weight: 400;
    font-family: Arial;

    width: 225px;
    height: 45px;
    margin: 40px auto 0;

    /* Presets */
    outline: none;
    border: none;
    padding: .375rem .675rem;
    cursor: pointer;
}

button.da-copy-button img {
    margin-left: 10px;
}

.pass-length-value {
    font: 400 13.3333px Arial;
}

@element .generator-container and (max-width: 664px) {
    :self {
        width: calc(100% - 20px);
        margin: 0 auto;
    }
    .da-option {
        flex-direction: column;
    }
    .option__title {
        margin: 0 0 15px 0;
    }
}
@element .generator-container and (max-width: 535px) {
    .option__field {
        flex-wrap: wrap;
        justify-content: center;
    }
    .option__field__item {
        margin-bottom: 10px;
    }

    .option__field.da-allow-characters .option__field__item {
        width: 175px;
        margin-right: 0;
    }

    .option__field.da-allow-characters .option__field__item:nth-child(odd) {
        /* justify-content: flex-end; */
        padding-left: 60px;
    }
}
@element .generator-container and (max-width: 403px) {
    .da-password-field {
        height: 55px;
    }
    :root {
        --password-field: 25px;
    }
    .option__field.da-allow-characters .option__field__item {
        width: 118px;
    }
    .option__field.da-allow-characters .option__field__item:nth-child(odd) {
        padding-right: 15px;
        padding-left: 0;
    }
    .option__title {
        line-height: normal;
    }
}