:root {
    --main-color: #D32D27;
    --text-color: #282828;
    --background-color: #F9FBFD;
    --border-color: #E8E8E8;
    --customization-color: #727272;

    /**
     * Strength Colors
    */
    --orange: #F19B2B;
    --yellow: #D8D145;
    --light-green: #98CB6F;
    --green: #5FD889;

    /**
     * Shadow for Password Field
    */
    --pass-shadow: 0 18px 15px 0 rgba(0, 0, 0, .22);
    --tooltip-shadow: 0 4px 5px 0 rgba(0, 0, 0, .22);
    --thumb-shadow: var(--tooltip-shadow);

    /**
     * Border Width for;
     * Radio and Checkbox, Input[type=number], Customizatin Section,
    */
    --border-width: 2px;

    /**
     * Border Radius for;
     * Wrappers, Checkboxes, Input[type=number], button 
    */
    --border-radius: 10px;
    --border-radius-checkbox: 5px;

    /**
     * Font Sizes
     */
    --top-header: 35px; /* GENERATE A SECURE PASSWORD */
    --middle-header: 25px; /* Use our online password generator ... */
    --password-field: 30px; /* SWdbDn4N0Y */
    --others: 16px;

    /**
     * Breakpoints
     * Just for information
    */
    --lg: 1024px;
    --md: 768px;
    --sm: 576px;
    --xs: 435px;
    --xxs: 375px;
}

.da-generator-container {
    margin: 0;
    padding: 0;
}
.da-generator-container *,
.da-generator-container *::before,
.da-generator-container *::after {
    box-sizing: border-box;
    letter-spacing: 0;
    font-family: "Source Sans Pro", sans-serif;
}

/* Low Header */
h6.da-low-header {
    font-weight: 600;
    text-align: center;
    font-size: var(--others);
    font-family: "Source Sans Pro", sans-serif !important;
    color: var(--customization-color) !important;

    margin: 0 0 20px 0;
}
h6.da-low-header.toggle {
    cursor: pointer;    
}
h6.da-low-header.toggle::after{
    display: inline-block;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

/**
 * Generator Styles
*/
.da-generator-container {
    display: flex;
    justify-content: center;

    width: 100%;
    max-width: 665px !important;
    margin: 100px auto 40px !important;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 1024px) {
    .da-generator-container {
        flex-direction: column;
    }
}

/* Generator Tools */
.da-generator__tools {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .da-generator__tools {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .da-generator__tools {
        width: calc(100% - 30px);
        margin: 0 auto;
    }
}

/* Generated Password Field */
.da-generator-container .password-field {
    display: flex;
    position: relative;

    align-items: center;

    width: 100%;
    height: 90px;
    border-radius: var(--border-radius);
    box-shadow: var(--pass-shadow);
    
    background-color: #fff;
}
@media screen and (max-width: 435px) {
    .da-generator-container .password-field {
        height: 55px;
    }
}

/* Password Styles for text-meter */
.da-generator-container input.password {
    font-size: var(--password-field);
    width: 100%;
    color: var(--text-color);
    padding: 10px 20px;

    /* Presets for input */
    border: none !important;
    background-color: transparent !important;
    font-family: ;
}
@media screen and (max-width: 435px) {
    .da-generator-container  {
        --password-field: 25px;
    }
}

.da-generator-container input.password:focus {
    outline: none;
}

/* Copy and Regenerate spans */
.da-generator-container .pass-copy {
    margin-right: 4px;
}

.da-generator-container .pass-regen {
    margin-right: 20px;
}

/**
 * Customization Styles
*/
.da-generator-container .customization {
    width: 100%;

    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: #fff;

    margin-top: 40px;
    padding: 15px 25px 20px;
}

/**
 * Customization Styles when Collapsed
*/

.da-generator-container .customization.collapsed {
    padding: 15px;
    border-style: dashed;
}

/* Hide Options */
.da-generator-container .customization.collapsed .options {
    display: none;
}

/* Centerized header */
.da-generator-container .customization.collapsed h6.da-low-header {
    margin: 0;
}

/* Rotate Arrow */
.da-generator-container .customization:not(.collapsed) h6.low-header.toggle::after {
    transform: rotate(180deg);
}

/* Option for Customization */
.da-generator-container .option {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .da-generator-container .option {
        flex-direction: column;
    }
}

.da-generator-container .option:not(:last-child) {
    margin-bottom: 30px;
}

.da-generator-container .option__title {
    color: var(--customization-color);
    font-size: var(--others);
    margin-right: 18px;
}
@media screen and (max-width: 768px) {
    .da-generator-container .option__title {
        margin: 0 0 15px 0;
    }
}

.da-generator-container .option__field {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .da-generator-container .option__field {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.da-generator-container .option__field__item {
    display: flex;
    align-items: center;
}
@media screen and (max-width: 576px) {
    .da-generator-container .option__field__item {
        margin-bottom: 10px;
    }
}
/* Media Queries for characters options */
@media screen and (max-width: 576px) {
    .da-generator-container .option__field.da-allow-characters .option__field__item {
        width: 160px;
        margin-right: 0;
    }

    .da-generator-container .option__field.da-allow-characters .option__field__item:nth-child(odd) {
        justify-content: flex-end;
        padding-right: 15px;
    }

    .da-generator-container .da-pass-types {
        display: block;
    }
}
@media screen and (max-width: 493px) {
    .da-generator-container .option__field.da-allow-characters .option__field__item {
        width: 120px;
    }
}
@media screen and (max-width: 435px) {
    .da-generator-container .option__field.da-allow-characters .option__field__item {
        width: 115px;
    }
}
/* Media Queries for Password types' options */
@media screen and (max-width: 435px) {
    .da-generator-container .option__field.da-pass-types {
        width: 170px;
        justify-content: flex-start;
        margin: 0 auto;
    }
}

.da-generator-container .option__field__item:not(:last-child) {
    margin-right: 21px;
}
@media screen and (max-width: 435px) {
    .da-generator-container .option__field__item:not(:last-child) {
        margin-right: 0;
    }
}


/* Disable Spin button in input[type=number] */
.da-generator-container .option input[type=number]::-webkit-inner-spin-button,
.da-generator-container .option input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**
 * Input Number STYLES
*/
.da-generator-container .option input[type=number] {
    width: 70px;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: var(--text-color);

    background-color: var(--border-color);
    border: none;
    border-radius: var(--border-radius);
}

.da-generator-container .option input[type=number]:focus {
    outline: none;
}

/**
 * Input Range STYLES
*/
.da-generator-container .option .pass-length {
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    height: 5px;
    padding: 0;
    background-color: var(--border-color);
    outline: none;

    border: none;
    border-radius: var(--border-radius);
}

.da-generator-container .option .pass-length::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: var(--thumb-shadow);
}

.da-generator-container .option .pass-length::-moz-range-thumb {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: var(--thumb-shadow);
}

/**
 * Input Checkbox STYLES
*/
.da-generator-container .checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: var(--others);
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 20px;
    color: var(--text-color);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
/* Hide the browser's default checkbox */
.da-generator-container .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
/* Create a custom checkbox */
.da-generator-container .checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;

    background-color: #fff;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-checkbox);
}
  
/* On mouse-over, add a grey background color */
.da-generator-container .checkbox-container:hover input ~ .checkmark {
    border-color: var(--customization-color);
}
  
/* When the checkbox is checked, add a blue background */
.da-generator-container .checkbox-container input:checked ~ .checkmark {
    border-color: var(--main-color);
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.da-generator-container .checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.da-generator-container .checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.da-generator-container .checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/**
 * Switch Input STYLES
*/

/* Switch Label */
.da-generator-container .switch-label {
    font-size: var(--others);
    color: var(--text-color);
    margin: 0 5px 0 0;
}

.da-generator-container .switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
    margin: 0 7px 0 0;
}
  
.da-generator-container .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.da-generator-container .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e8e8e8;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.da-generator-container .switch .slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 2px;
    background-color: #c0c0c0;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.da-generator-container .switch input:checked + .slider::before {
    background-color: #d32d27;
}
  
.da-generator-container .switch input:checked + .slider::before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

/* Rounded sliders */
.da-generator-container .slider.round {
    border-radius: 34px;
}
.da-generator-container .slider.round:before {
    border-radius: 50%;
}

/* Switch Information Tooltip */
.da-generator-container .switch-info {
    position: relative;
}
.da-generator-container .switch-info.default-info {
    background-image: url(../images/PNGs/icon-info.png);
    background-position: 50%;
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.da-generator-container .switch-info__description {
    display: none;
    position: absolute;
    width: 200px;
    font-size: 14px;
    z-index: 1040;
    top: 18px;

    cursor: pointer;
    background-color: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--tooltip-shadow);

    padding: 10px;
}
.switch-info__description.sm {
    top: 30px;
    width: auto;
}
.da-generator-container .switch-info:hover .switch-info__description {
    display: block;
}

/**
 * Button Styles
*/

.da-generator-container button.copy-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    color: #fff;
    background-color: var(--main-color);
    font-size: var(--others);

    width: 225px;
    height: 45px;
    margin: 40px auto 0;

    /* Presets */
    outline: none;
    border: none;
    padding: .375rem .675rem;
    cursor: pointer;
}

.da-generator-container button.copy-button img {
    margin-left: 10px;
}

.da-generator-container .da-gen-icon {
    display: inline-block;
    width: 32px;
    height: 31px;
    border: 0;
    position: relative;
    background-color: #fff;
    background-position: 50%;
    background-repeat: no-repeat;
    outline: none;
    cursor: pointer;
    vertical-align: middle;
    padding: 0;
}
.da-generator-container .icon-copy {
    background-image: url(../images/SVGs/img-icon-copy-@3x.svg);
    background-size: 24px;
}
.da-generator-container .icon-regen {
    background-image: url(../images/SVGs/icon-generate-new.svg);
    background-size: 24px;

    -webkit-transition-duration: .3s;
    -moz-transition-duration: .3s;
    -o-transition-duration: .3s;
     transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
     transition-property: transform;
}

.da-generator-container input.password.da-strong, .da-generator-container input.password.da-very-strong {
    color: var(--green);
}
.da-generator-container input.password.da-very-weak {
    color: var(--orange);
}
.da-generator-container input.password.da-weak {
    color: var(--yellow);
}
.da-generator-container input.password.da-fair {
    color: var(--light-green);
}
